<!doctype html>
<html lang="en">
<head>
    <title>Midterm Survey</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--[if lt IE 9] -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

</head>
<body>
<div class="container">
    <h1 class="pb-2">Midterm Survey</h1>

    <form action="#" method="post" class="form-horizontal">

        <!-- get name -->
        <div class="form-group row form-inline px-3">
            <label class="pr-2" for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name">
            <span class="text-danger pl-2">
                <check if="{{ isset(@errors['name']) }}">
                    {{ @errors['name'] }}
                </check>
            </span>

        </div>

        <!-- survey questions -->
        <div class="form-group row">
            <label class="px-3 control-label">Check all that apply:</label>

        </div>

        <div class="form-group row">

            <div class="px-3">
                <repeat group="{{ @surveyOptions }}" value="{{ @surveyOption }}">
                    <div class='form-group form-check mb-0'>
                        <input type="checkbox" class='form-check-input' name="surveyOptions[]" id="{{ str_replace(' ', '', @surveyOption) }}" value="{{ @surveyOption }}">
                        <label for="{{ str_replace(' ', '', @surveyOption) }}" class="form-check-label">{{ @surveyOption }}</label>
                    </div>

                </repeat>
                <span class="text-danger">
                    <check if="{{ isset(@errors['surveyOptions']) }}">
                        {{ @errors['surveyOptions'] }}
                    </check>
                </span>
            </div>

        </div>

        <div class="form-group">
            <input class="btn btn-secondary"
                   type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>